<center><h2>All Superpowers</h2></center>

<ol>
  <% @powers.each do |power| %>
    <li>
      <%= power.name %>
      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ol>

<%= link_to "Create A Superpower!", new_power_path %>
