<h2>All Superpowers</h2>

<ul>
  <% @powers.each do |power| %>
    <li>
      <strong><%= link_to power.name, power %></strong>
      <br>
      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>

<button><%= link_to "All Heroines", heroines_path %></button>
<button><%= link_to "Create a Heroine", new_heroine_path %></button>
