<h2><%= @power.name %></h2>
<h3><%= @power.description %></h3>

<h4>Heroes with this Power</h4>
<ul>
  <% @power.heroines.each do |h| %>
  <li><%= link_to h.name, h %></li>
  <% end %>
</ul>

<%= link_to "Back to Index", powers_path %>
