<center><h2>All Heroines</h2></center>
<hr>

<ol>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ol>

<%= link_to "Create A New Heroine!", new_heroine_path %>
