<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to "Create a New Heroine", new_heroine_path %>
<br>
<%= link_to "See All Powers", powers_path %>
<br>
